<div class="game">
  <div class="card">
    @if (!currentHeadline) {
      <button (click)="startGame()">Start Game</button>
    }

    @if (currentHeadline) {
      @if (!hidden) {
        <img
          [src]="'/images/' + currentHeadline.image"
          alt="Headline"
          class="headline-image"
        />

        <div
          class="timer"
          [style.background]="'conic-gradient(#114568 ' + timer + '%, #eee 0)'"
        ></div>
      } @else {
        <h2>???</h2>
      }

      @if (hidden) {
        <div class="guess-row">
          <input
            type="number"
            [(ngModel)]="userGuess"
            placeholder="Your guess"
          />

          <button (click)="submitGuess()">Submit</button>
        </div>
      }

      <p>{{ result }}</p>

      @if (hidden) {
        <button (click)="startGame()">New Headline</button>
      }
    }
  </div>
</div>
